body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #444;
    color: #7c1f7c;
    overflow-x: hidden;
}

nav.navbar {
    background-color: #7c3aed;
}

.navbar-brand, .nav-link {
    color: white;
}

.secondlist {
    margin-top: 50px;
}

.scroll-grid {
    overflow-x: auto;
    white-space: nowrap;
    padding: 20px 0;
}

.scroll-grid .row {
    flex-wrap: nowrap;
    margin-right: 0;
}

.scroll-grid::-webkit-scrollbar {
    height: 10px;
}
.scroll-grid::-webkit-scrollbar-thumb {
    background: plum;
    border-radius: 10px;
}
.scroll-grid::-webkit-scrollbar-track {
    background: #333;
}

.card {
    background: #222;
    color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(12, 122, 123, 0.19);
    transition: transform 0.3s ease, box-shadow 0.4s ease-in-out;

}
.card:hover .bi-play  {
    opacity: 1; transition: transform 0.5s ,box-shadow 0.4s ease-in-out, duration 0.4s, timing-functios ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(255,255,255,0.2);
}

.card img {
    height: 160px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.dugmic {
    background-color: plum;
    color: white;
    border-radius: 7px;
    height: 32px;
    width: 70px;
}

.bigcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    max-width: 900px;
    background: #222;
    border-radius: 15px;
    color: #fff;
    margin: 100px auto;
    padding: 20px;
}

.lyrics-container {
    height: 310px;
    overflow-y: auto;
    background: #111;
    color: #fff;
    border-radius: 8px;
    padding: 15px;
    line-height: 1.6;
    font-size: 16px;
    scrollbar-width: thin;
    scrollbar-color: plum #333;
    margin-bottom: 30px;
}

.progress {
    width: 80%;
    height: 15px;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 15px;
}

.progress-bar {
    width: 15%;
    height: 100%;
    background: linear-gradient(45deg, plum, #000000);
}

footer {
    text-align: center;
    padding: 15px;
    color: #bbb;
    margin-top: 80px;
}
svg {
    color: black;
    justify-content: center;
    display: flex;
    justify-items: center;
}
.bi-play{position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    color: gray;
    cursor: pointer;
    height: 3.5rem;
    opacity:0%;
    transition: transform 0.5s ,box-shadow 0.4s ease-in-out
}